$primary-bg-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$color-hero-section: #2f303a;
$white-color: #ffffff;
$footer-bg-color: #2f303a;
$header-border-color: #ececec;
$button-hover-color: #188ce8;
$color-team-section: #f5f4fa;
$icon-color: #afb1b8;
$footer-background-icon-color: rgba(255, 255, 255, 0.1);
$product-thumb: rgba(33, 150, 243, 0.9);
$about-item-desc-color: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
