.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &-list__item {
    max-width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      max-width: 354px;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      margin-bottom: 0;
    }
  }

  &-list__icon {
    height: 120px;
    margin-bottom: 30px;
    background-color: $color-team-section;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}

// .benefits-list__title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.17;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: $primary-text-color;
//   margin-bottom: 10px;
// }

.benefits-list__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-bottom: 0;
  margin-top: 0;
}
