.clients {
  padding: 94px 0 94px;
}

.section-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $icon-color;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box:hover,
.clients-box:focus {
  border-color: $accent-color;
  fill: $accent-color;
}
