.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  scale: 0;
}

.backdrop.is-hidden .modal {
  scale: 0;
}

.backdrop .modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  scale: 1;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover,
.btn-modal:focus {
  border-color: $accent-color;
  fill: $accent-color;
}

body.modal-open {
  overflow: hidden;
}

/* form-modal */

.form-modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.form-callback__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  margin-bottom: 4px;
  cursor: pointer;
}

.form-callback__field {
  position: relative;
  margin-bottom: 10px;
}

.form-callback__input {
  height: 40px;
  width: 100%;
  padding: 0 10px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-callback__field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-callback__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-callback__input:hover {
  border-color: $accent-color;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-callback__field:hover .form-icon {
  fill: $accent-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-callback__input:focus {
  border-color: $accent-color;
  outline: none;
}
.form-callback__input:focus + .form-callback__icon {
  fill: $accent-color;
}

.form-callback__comment {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-callback__comment:hover,
.form-callback__comment:focus {
  border-color: $accent-color;
  outline: none;
}

/* checkbox */

.terms {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-label {
  position: relative;
  padding-left: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  cursor: pointer;
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  fill: transparent;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
}

.checkbox-input:checked + .icon-check {
  fill: $primary-bg-color;
  background-color: $accent-color;
  border: none;
}

.terms-of-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.form-callback__btn {
  margin: 0 auto;
  display: block;
  width: 200px;
  padding: 10px 0;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $primary-bg-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-callback-btn:hover,
.form-callback-btn:focus {
  background-color: $button-hover-color;
}
